#contenter{
    width:1210px;
    height:210px;
    margin: 0px auto;
    border:1px solid gainsboro;
}
#contenter #content1{
    width: 1210px;
    height: 70px;
    background-color:dodgerblue;
}
#contenter #content2{
     width: 1210px;
     height: 70px;
    border:1px solid gainsboro;
    text-align: center;
 }
#contenter #content3{
    width: 1210px;
    height: 50px;
    line-height: 50px;
    margin-top: 0px;
    border-top: 1px solid gainsboro;
}
#contenter #content4{
    width: 1210px;
    height: 70px;
    text-align: center;
    background-color:lightskyblue;
}
#contenter #content1 .name1{
    float: left;
     width: 100px;
     height: 70px;
    border-right:solid 1px #fff;
     background-color:dodgerblue;
 }
#contenter #content1 .name2{
    float: left;
    width: 440px;
    height: 70px;
    background-color:dodgerblue;
    border-right:solid 1px #fff;
}
#contenter #content1 .name3{
    float: left;
    width: 128px;
    height:70px;
    background-color:dodgerblue;
    border-right:solid 1px #fff;
}
#contenter #content1 .name4{
    float: left;
    width: 112px;
    height:70px;
    background-color:dodgerblue;
    border-right:solid 1px #fff;
}
#contenter #content1 .name5{
    float: left;
    width: 112px;
    height: 70px;
    background-color:dodgerblue;
    border-right:solid 1px #fff;
}
#contenter #content1 .name6{
    float: left;
    width: 260px;
    height: 70px;
    background-color:dodgerblue;
}
#contenter #content1 h2{
   text-align: center;
    color: #fff;
}
#contenter #content2 .name11{
    float: left;
    width: 100px;
    height: 70px;
    border-right:solid 1px #fff;
    background-color:lightskyblue;
}
#contenter #content2 .name21{
    float: left;
    width: 440px;
    height: 70px;
    border-right:solid 1px #fff;
}
#contenter #content2 .name31{
    float: left;
    width: 128px;
    height:70px;
    background-color:lightskyblue;
    border-right:solid 1px #fff;
}
#contenter #content2 .name41{
    float: left;
    width: 112px;
    height:70px;
    border-right:solid 1px #fff;
}
#contenter #content2 .name51{
    float: left;
    width: 112px;
    height: 70px;
    background-color:lightskyblue;
    border-right:solid 1px #fff;
}
#contenter #content2 .name61{
    float: left;
    width: 260px;
    height: 70px;
}
#contenter #content2 .a{
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 3px;
    width:30px;
    height: 20px;
}
#contenter #content2 .b{
    display: block;
    float: left;
    margin-top:25px;
    padding: 0px;
    width:30px;
    height: 20px;
}
#contenter #content2 .text{
    display: block;
    float: left;
    margin-top: 25px;
    padding: 0px;
    width:40px;
    height: 17px;
    text-align: center;
}
#contenter #content2 h2{
    text-align: center;
}
#contenter #content3 .price{
    margin-left: 783px;
    width: 112px;
    height: 50px;
    text-align: center;
    border-right:solid 1px gainsboro;
    border-left:solid 1px gainsboro;
}
#contenter #content4 .button{
    margin-top: 10px;
    width: 112px;
    height: 40px;
    border-right:solid 1px;
    border-left:solid 1px;
}
#content3 span{
    color: red;

}
#content2 a{
    display: block;
    position: relative;
    top: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color:black;
}
#one{
    width: 15px;
    height: 15px;
}