#asd{
/*	border: solid 1px red;*/
	align-content: center;
	width: 300px;
	height: 150px;
	margin-left: 45%;
	margin-top: 30%;
	
}
#asd tr{
	align-content: center;
}
#asd2{
	border: solid 1px blue;
    background-image: url(../img/79u58PIC4Hd_1024.jpg);
    width:100%;
    height:1300px;
	
}
